@import '../../style/utils.styl'
@import '../../style/media.styl'

.projectDescription
  cursor: default
  position: fixed
  bottom: pxToRem(50)
  left: pxToRem(17)
  text-align: left
  a
    text-decoration: underline
  +mobile()
    display: none
