@import '../../style/utils.styl'
@import '../../style/media.styl'

.projectBox
  position: relative
  z-index: 10
  padding-top: 30vh
  childrenSpacingY(pxToRem(3))
  max-width: pxToRem(800)
  margin: 0 auto
  text-align: center
  +mobile()
    max-width: 100vw
    padding: pxToRem(120) pxToRem(20) pxToRem(170)

