@import '../../style/utils.styl'
@import '../../style/media.styl'

.projectBox
  position: relative
  z-index: 10
  childrenSpacingY(pxToRem(3))
  max-width: pxToRem(800)
  margin: 0 auto
  text-align: center
  margin-top: 50vh
  +mobile()
    margin-top: pxToRem(120)
    width: 100vw
    max-width: 100vw
    padding: 0 pxToRem(20) pxToRem(100)
    margin-left: pxToRem(-10)

