@import '../../style/utils.styl'
@import '../../style/media.styl'

.projectBox
  position: relative
  z-index: 10
  max-width: pxToRem(800)
  margin: 0 auto
  text-align: center
  margin-top: 50vh
  childrenSpacingY(pxToRem(8))
  > *:last-child
  > *:last-child > video
    margin-bottom: pxToRem(50)
    +mobile()
      margin-bottom: 0
  +mobile()
    margin-top: pxToRem(15)
    width: 100vw
    max-width: 100vw
    padding: 0 pxToRem(20)
    margin-left: pxToRem(-6)
    childrenSpacingY(pxToRem(3))

.projectDescription
  display: none
  text-align: left
  position: static
  margin-bottom: pxToRem(15)
  margin-left: pxToRem(-14)
  a
    text-decoration: underline
  +mobile()
    display: block
