@import '../../style/utils.styl'
@import '../../style/media.styl'

// .main
//   position: relative

.project
.projectActive
  transition: color 0.2s ease

.projectActive
  color: $GREY

.projectList
.projectListFixed
  display: flex
  flex-direction: column
  align-items: flex-end
  position: absolute
  top: 0
  right: 0
  padding: pxToRem(20) pxToRem(20)
  width: 100vw
  height: 100vh
  overflow: auto
  childrenSpacingY(pxToRem(10))
  list-style-type: none
  padding-bottom: pxToRem(20)
  transition: color 0.3s ease
  li
    position: relative
    a
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 100

.projectListFixed
  position: fixed
  overflow: hidden

.about
  margin: 0 auto
  max-width: pxToRem(950)
  margin-bottom: pxToRem(60)
  +mobile()
    margin-top: pxToRem(10)
    margin-bottom: 0
  &Description
    childrenSpacingY(pxToRem(40))
    +mobile()
      childrenSpacingY(pxToRem(20))
  &Lists
    margin-top: pxToRem(90)
    display: flex
    childrenSpacingX(pxToRem(40))
    +mobile()
      margin-top: pxToRem(50)
      flex-direction: column
      childrenSpacingX(0)
      childrenSpacingY(pxToRem(20))
  &ListsCol
    flex: 1
    childrenSpacingY(pxToRem(50))
    +mobile()
      childrenSpacingY(pxToRem(20))
  &List
    childrenSpacingY(pxToRem(20))
    p:first-child
      margin-bottom: pxToRem(40)
      +mobile()
        margin-bottom: pxToRem(20)
    +mobile()
      childrenSpacingY(pxToRem(10))

.projectBox
  position: relative
  z-index: 10
  padding-top: 30vh
  childrenSpacingY(pxToRem(3))
  max-width: pxToRem(800)
  margin: 0 auto
  text-align: center

 .imagePreview
   transition: filter 0.3s ease;
   filter: blur(pxToRem(30))

 .image
   transition: filter 0.3s ease;
   filter: blur(0)
