@import '../../style/utils.styl'
@import '../../style/media.styl'

.projectDescription
  position: fixed
  bottom: pxToRem(50)
  left: pxToRem(20)
  text-align: left
  a
    text-decoration: underline
  +mobile()
    position: absolute
    bottom: auto
    top: pxToRem(65)
    left: pxToRem(10)
