@import '../../style/media.styl'
@import '../../style/utils.styl'

$paddingTop = pxToRem(11)
$paddingLeft = pxToRem(17)

$paddingTopM = pxToRem(7)
$paddingLeftM = pxToRem(6)

.layout
  padding: $paddingTop $paddingLeft
  +mobile()
    padding: $paddingTopM $paddingLeftM

.layoutAbout
  +mobile()
    padding: $paddingTopM $paddingLeftM pxToRem(71)
    position: relative
    .copyright
      position: absolute
    .home
      position: static

.layoutProjectOpen
  +mobile()
    display: flex
    flex-direction: column
    min-height: 100vh
    .copyright
        position: static
        margin-top: auto
        z-index: 10
    .home
      position: static

.top
  display: flex
  justify-content: space-between

.home
  position: fixed
  left: $paddingLeft
  top: $paddingTop
  line-height: (35 / 40)
  z-index: 10
  +mobile()
    left: $paddingLeftM
    top: $paddingTopM

.blog
  position: fixed
  right: $paddingLeft
  top: $paddingTop
  +mobile()
    position: static
    top: $paddingTopM
    right: $paddingLeftM

.copyright
  position: fixed
  left: $paddingLeft
  bottom: $paddingTop

.copyright
  +mobile()
    left: $paddingLeftM
    bottom: $paddingTopM

.persian
  width: pxToRem(84)
  +mobile()
    width: pxToRem(31)

.contacts
  position: fixed
  left: $paddingLeft
  bottom: pxToRem(51)
  line-height: (22 / 20)
  a
    text-decoration: underline
  +mobile()
    display: none

