@import '../../style/media.styl'
@import '../../style/utils.styl'

$paddingTop = pxToRem(20)
$paddingLeft = pxToRem(20)

$paddingTopM = pxToRem(10)
$paddingLeftM = pxToRem(10)

.layout
  padding: $paddingTop $paddingLeft
  +mobile()
    padding: $paddingTopM $paddingLeftM

.layoutAbout
  +mobile()
    padding: $paddingTopM $paddingLeftM pxToRem(70)
    position: relative

.top
  display: flex
  justify-content: space-between

.home
  position: fixed
  left: $paddingLeft
  top: $paddingTop
  line-height: (35 / 40)
  z-index: 10
  +mobile()
    position: static

.blog
  position: fixed
  right: $paddingLeft
  top: $paddingTop
  +mobile()
    position: static

.copyright
.copyrightUnderProject
  position: fixed
  left: $paddingLeft
  bottom: $paddingTop

.copyright
  +mobile()
    position: absolute
    left: $paddingLeftM
    bottom: $paddingTopM

.copyrightUnderProject
  +mobile()
    position: static
    margin-top: pxToRem(30)

.persian
  width: pxToRem(84)
  +mobile()
    width: pxToRem(31)
