@import '../../style/utils.styl'
@import '../../style/media.styl'

.about
  margin: 0 auto
  max-width: pxToRem(950)
  margin-bottom: pxToRem(40)
  blockquote
    text-align: right
    +mobile()
      text-align: left
  a
    text-decoration: underline
  +mobile()
    margin-top: pxToRem(12)
    margin-bottom: 0
  &Description
    childrenSpacingY(pxToRem(40))
    +mobile()
      childrenSpacingY(pxToRem(20))
  &Contacts
    display: none
    +mobile()
      display: block
      margin-top: pxToRem(20)
  &Columns
    columns: 2;
    column-gap: pxToRem(40);
    margin-top: pxToRem(90);
    +mobile()
      columns: 1;
      column-gap: 0;
      margin-top: pxToRem(40)
    > blockquote
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      text-align: left;
    > blockquote:not(:first-child)
      margin-top: pxToRem(50)
      +mobile()
        margin-top: pxToRem(20)
    h3
      font-weight: 400
      font-size: pxToRem(20)
      +mobile()
        font-size: pxToRem(10)
    p
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    h3 + p
      margin-top: pxToRem(40)
      +mobile()
        margin-top: pxToRem(20)
    p + p
      margin-top: pxToRem(20);
      +mobile()
        margin-top: pxToRem(10)
    blockquote + p
      margin-top: pxToRem(20);
      +mobile()
        margin-top: pxToRem(10)
