@font-face {
  font-family: "Pragmatica";
  font-weight: normal;
  font-style: normal;
  src:
     url('/assets/fonts/Pragmatica.woff2') format('woff2'), /* Super Modern Browsers */
     url('/assets/fonts/Pragmatica.woff') format('woff'), /* Pretty Modern Browsers */
     url('/assets/fonts/Pragmatica.ttf')  format('truetype'), /* Safari, Android, iOS */
}
