@font-face {
  font-family: "Pragmatica";
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/Pragmatica.woff2') format('woff2'),
    url('/assets/fonts/Pragmatica.woff') format('woff'),
    url('/assets/fonts/Pragmatica.ttf')  format('truetype');
}

@font-face {
  font-family: "GeezaPro";
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/GeezaPro.woff2') format('woff2');
}
