@import '../../style/utils.styl'
@import '../../style/media.styl'

.videoBox
  position: relative

.video
  +mobile()
    pointer-events: none

.videoPlayButton
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  display: none
  color: white
  border: none
  +mobile()
    display: block
