@import '../../style/utils.styl'
@import '../../style/media.styl'


.contacts
  line-height: (22 / 20)
  font-size: pxToRem(20)
  a
    text-decoration: underline
  +mobile()
    margin-top: pxToRem(20)
    font-size: pxToRem(15)
    line-height: 1


